@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@900&family=Mochiy+Pop+P+One&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior:smooth;
  
}

a {
  text-decoration: none;
  color:#FF54F8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


